# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db 

# text files
info.txt
requirements01.txt

# environment
.venv/
